**/bin/
**/obj/
**/.keys/
**/*.db
.git/
.env
.env.*
**/appsettings.Local.json
**/appsettings.Production.json
**/secrets.json
**/*.pfx
**/*.p12
**/*.pem
**/*.key
**/*.dump
**/*.backup
backups/
preview/
docs/
